<a href="https://colab.research.google.com/github/Prebor97/hamoyeStagecodes/blob/master/Hamoye_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving finalDatasetWithRain.csv to finalDatasetWithRain.csv

In [3]:
import pandas as pd
import numpy as np
import io
df = pd.read_csv(io.BytesIO(uploaded['finalDatasetWithRain.csv']))

In [4]:
df.head(2)

,lat,lon,time,omega_x,omega_y,omega,pr_wtr,rhum_x,rhum_y,rhum,...,tmp_x,tmp_y,tmp,uwnd_x,uwnd_y,uwnd,vwnd_x,vwnd_y,vwnd,rain
0,30.0,70.0,1948-01-01,0.043999,-0.005003,-0.050001,9.959991,22.25,42.50,47.500015,...,296.8,281.41998,296.07,16.120010,4.600006,-1.879990,-1.209992,-0.589996,-1.989990,-9999.0
1,30.0,70.0,1948-01-02,0.094997,0.104998,0.006998,9.519989,19.50,32.75,51.250015,...,296.8,282.12000,295.99,18.000015,3.570007,-3.589996,-5.759995,-4.379990,-4.009995,-9999.0

In [5]:
df.isnull().sum()

lat             0
lon             0
time            0
omega_x    311556
omega_y    311556
omega      311556
pr_wtr     311196
rhum_x     311196
rhum_y     311196
rhum       311196
slp        311196
tmp_x           0
tmp_y           0
tmp             0
uwnd_x     311196
uwnd_y     311196
uwnd       311196
vwnd_x     311196
vwnd_y     311196
vwnd       311196
rain       233397
dtype: int64

I filtered out the third cycle because the data seemed normal from then up to some extent

In [6]:
df1 = df.iloc[51806:77709]

In [7]:
df1.head(2)

,lat,lon,time,omega_x,omega_y,omega,pr_wtr,rhum_x,rhum_y,rhum,...,tmp_x,tmp_y,tmp,uwnd_x,uwnd_y,uwnd,vwnd_x,vwnd_y,vwnd,rain
51806,30.0,75.0,1948-01-01,-0.103003,-0.161001,-0.030003,12.429993,19.75,38.75,34.500000,...,297.59998,285.47,296.20,14.300003,2.390015,-3.789993,7.170013,6.250015,1.250015,0.00000
51807,30.0,75.0,1948-01-02,-0.014002,-0.043001,-0.012003,16.989990,11.75,46.00,61.000015,...,297.59998,287.55,296.12,15.420013,-1.259994,-4.139984,-0.189987,2.570007,-0.419998,46.66959

In [8]:
df1.tail(3)

,lat,lon,time,omega_x,omega_y,omega,pr_wtr,rhum_x,rhum_y,rhum,...,tmp_x,tmp_y,tmp,uwnd_x,uwnd_y,uwnd,vwnd_x,vwnd_y,vwnd,rain
77706,30.0,75.0,2018-11-29,0.01925,-0.02550,0.00050,17.200000,37.00,12.25,41.75,...,297.6,292.30000,299.17502,26.200000,9.575001,0.450000,1.275,0.825,-3.049999,0.0
77707,30.0,75.0,2018-11-30,0.23650,0.18625,0.07950,16.724998,13.75,8.75,49.50,...,297.6,291.82500,299.10000,18.200000,7.400002,0.850001,-8.250,-5.600,-2.824999,0.0
77708,30.0,75.0,2018-12-01,0.01750,-0.05725,-0.02425,15.500000,16.50,6.25,43.50,...,297.6,290.84998,299.10000,17.675003,8.700001,0.875000,-6.375,-3.525,-1.424999,0.0

In [9]:
df1['rain'].max()

196.56553649902344

Based on the classification(light rain, heavy rain and violent rain), using the rain column, I made another column indicating the type of rainfall

In [10]:
Rain_type = []
for row in df1['rain']:
  if row < 1 : Rain_type.append('no_rain')
  elif row < 2.6 : Rain_type.append('light_rain')
  elif row < 7.6 : Rain_type.append('moderate_rain')
  elif row < 51 : Rain_type.append('heavy_rain')
  elif row > 50 : Rain_type.append('Violent_rain')

In [11]:
df1['Rain_type'] = Rain_type

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df1.head(10)

,lat,lon,time,omega_x,omega_y,omega,pr_wtr,rhum_x,rhum_y,rhum,...,tmp_y,tmp,uwnd_x,uwnd_y,uwnd,vwnd_x,vwnd_y,vwnd,rain,Rain_type
51806,30.0,75.0,1948-01-01,-0.103003,-0.161001,-0.030003,12.429993,19.750000,38.750000,34.500000,...,285.47000,296.20000,14.300003,2.390015,-3.789993,7.170013,6.250015,1.250015,0.00000,no_rain
51807,30.0,75.0,1948-01-02,-0.014002,-0.043001,-0.012003,16.989990,11.750000,46.000000,61.000015,...,287.55000,296.12000,15.420013,-1.259994,-4.139984,-0.189987,2.570007,-0.419998,46.66959,heavy_rain
51808,30.0,75.0,1948-01-03,-0.047003,-0.024002,0.103998,18.470001,19.500000,40.250000,73.500015,...,287.45000,296.09998,13.070007,-0.189987,-4.209992,2.120010,1.450012,-3.109985,0.00000,no_rain
51809,30.0,75.0,1948-01-04,-0.005003,-0.073002,-0.084002,17.019989,15.750000,25.250000,62.500015,...,287.05000,296.07000,7.790008,-0.259995,-1.379990,-2.389984,2.370010,-0.659988,0.00000,no_rain
51810,30.0,75.0,1948-01-05,0.133999,0.137999,0.178997,13.940002,19.000000,12.250000,57.250015,...,286.57000,295.99000,19.050003,3.150009,-3.259994,-16.139984,-4.839996,-4.559998,0.00000,no_rain
51811,30.0,75.0,1948-01-06,0.048998,0.140999,0.189999,14.690002,50.000015,46.250000,39.500000,...,286.09998,295.99000,27.450012,8.900009,-3.309998,-6.859985,-3.909988,-4.189987,0.00000,no_rain
51812,30.0,75.0,1948-01-07,0.007998,0.034998,0.091997,14.769989,22.000000,50.500015,33.250000,...,285.52002,295.91998,34.400010,10.700012,-1.289993,2.600006,-0.839996,-3.579987,0.00000,no_rain
51813,30.0,75.0,1948-01-08,-0.180002,-0.246002,-0.096003,13.440002,11.750000,56.500015,36.500000,...,286.80000,295.90000,29.550003,11.500015,0.350006,10.900009,7.900009,3.520004,0.00000,no_rain
51814,30.0,75.0,1948-01-09,-0.064001,-0.109001,-0.066002,13.119995,2.750000,27.250000,40.000000,...,289.12000,295.87000,26.170013,9.070007,-1.289993,4.020004,3.220001,1.270004,0.00000,no_rain
51815,30.0,75.0,1948-01-10,0.013998,-0.035002,0.026999,10.869995,10.500000,10.750000,41.250000,...,287.57000,295.80000,29.820007,8.770004,-1.959992,4.800003,1.120010,-1.489990,0.00000,no_rain

I suggest we treat it as a classification problem(based on this location) since after all we are trying to predict whether rain will fall or not